{% extends "music/base.html" %}

{% block title %}
<title>{{ album }}</title>
{% endblock %}

{% block content %}
<section id="artist-page">
    <h1>{{album}}</h1>
    <a href="{% url 'artist_detail' album.artist_id %}">{{album.artist}}</a>
    <h2>{{album.name}}</h2>
    <h2>{{album.pub_date|date:"Y"}}</h2>
    <img src="{{album.image_url}}" alt="">
    <div class="shadow"></div>
</section>
<section>
    <form action="{% url 'album_detail' album.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar">
    </form>
    <div class="shadow"></div>
</section>
{% endblock %}