{% extends "music/base.html" %}

{% block title %}
<title>{{ album }}</title>
{% endblock %}

{% block content %}
<section id="album-page">
    <h2>{{ album.name }}</h2>
    <div class="album-container">
        <img src="{{album.image_url}}" alt="{{album}}">
        <div class="info-album">
            <a href="{% url 'artist_detail' album.artist_id %}">{{album.artist}}</a>
            <p class="album-year">{{album.pub_date|date:"Y"}}</p>
        </div>
    </div>
    <div class="shadow"></div>
</section>
<section>
    <h2>Editar Álbum</h2>
    <form  class="edit-form" action="{% url 'album_detail' album.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="guardar" type="submit" value="Guardar">
    </form>
    <div class="shadow"></div>
</section>
{% endblock %}