{% extends "music/base.html" %}

{% block title %}
<title>{{ artist }}</title>
{% endblock %}

{% block content %}
<section id="artist-page">
    <h2>{{ artist }}</h2>

    <h3>Álbums:</h3>
    <ul>
        {% for album in artist.album_set.all %}
        <li>{{ album.name }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <form action="{% url 'artist_detail' artist.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar">
    </form>
</section>
{% endblock %}