* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #000;
  padding: 0.5em;
  overflow: hidden;
  font-size: 1.4em;
}

h1 {
  color: white;
  font-size: 1em;
}

header a {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

header:hover i {
  color: #1fdf64;
}

header i {
  color: white;
  font-size: 0.5rem;
  margin-left: 20px;
  margin-right: 6px;
  font-size: 0.7em;
}

main {
  display: grid;
  grid-template-columns: 200px auto auto;
  gap: 0.5em;
  padding: 0.5em 0;
}

nav {
  background-color: #121212;
  border-radius: 6px;
  padding: 1em;
  font-weight: 500;
  height: calc(100vh - 8.5em);
  overflow-y: scroll;
  color: #b3b3b3
}

nav::-webkit-scrollbar {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2em;
}

.nav-list-item {
  display: flex;
  align-items: center;
  font-size: 0.85em;
  cursor: pointer;
  color: #b3b3b3;
  transition: all ease-in-out 0.3s;
}

.nav-list-item:first-child {
  color: white;
}

.nav-list-item:hover,
.nav-list-item a:hover {
  color: #fff;
}

.nav-list li {
  font-size: 0.7em;
}

.nav-list-item > i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  margin-right: 10px;
}

.nav-list-item > a {
  text-decoration: none;
  color: #b3b3b3;
  transition: all ease-in-out 0.3s;
}

section {
  background-color: #121212;
  border-radius: 6px;
  padding: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 8.5em);
  position: relative;
}

section::-webkit-scrollbar {
  display: none;
}

.shadow {
  position: sticky;
  bottom: -1em;
  left: 0;
  margin-left: -1em;
  width: calc(100% + 2em);
  height: 4em;
  z-index: 10;
  background-image: linear-gradient(transparent, #121212);
  pointer-events: none;
}

.artistas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6em;
}

.artistas-container li {
  margin-left: 0.7em;
}

.artista-item {
  height: 3em;
  background-color: #323232;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all ease-in-out 0.3s;
  margin-left: 0.7em;
  position: relative;
}

.artista-item:hover {
  background-color: #4b4b4b;
}

li::marker {
  font-size: 0.6em;
  color: #fff;
}

.artista-item img {
  width: 3em;
  object-fit: cover;
  position: absolute;
  height: 100%;
  border-radius: 4px 0 0 4px;
}

h2 {
  color: white;
  font-size: 1.2em;
  margin-bottom: 0.7em;
}

.play {
  display: none;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #1fdf64;
  position: absolute;
  right: 0.75em;
  box-shadow: rgb(36, 36, 36) 0px 3px 3px 1px;
  transition: all ease-in-out 0.3s;
}

.artista-item:hover .play {
  display: flex;
  transition: all ease-in-out 0.1s;
}

.play:hover {
  scale: 1.05;
}

.artista-item i {
  font-size: 0.8em;
  margin-left: 2px;
}

.artista-item a {
  font-size: 0.7em;
  margin-left: 5.5em;
  color: white;
  font-weight: 500;
  margin-right: 1.5em;
  text-decoration: none;
}

table {
  font-size: 0.7em;
  color: white;
  width: 100%;
  border-spacing: 3px;
}

table a {
  color: white;
  text-decoration: none;
}

th:hover,
td:hover {
  background-color: #4b4b4b;
}

th, td {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  border-collapse: separate;
  transition: all ease-in-out 0.3s;
}

th {
  background-color: #323232;
}

tbody:nth-child(even) {
  background-color: #242424;
}

tbody:nth-child(odd) {
  background-color: #323232;
}

footer {
  background-color: #000;
  color: #ffffffb3;
  position: fixed;
  bottom: 0;
  width: calc(100% - 1em);
}

.footer-container-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.5em;
  padding-bottom: 0.5em;
}

.footer-container-up img {
  width: 50px;
  margin-right: 20px;
}

.footer-left {
  display: flex;
  align-items: center;
  width: 220px;
}

.footer-left p {
  margin-top: 6px;
  font-size: 0.5em;
}

.footer-left p:hover,
.footer-left h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.album-title {
  color: white;
  font-size: 0.6em;
  font-weight: 400;
  margin-bottom: 2px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-center-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em;
  font-size: 0.6em;
}

.progress-bar {
  width: 400px;
  height: 5px;
  background-color: #4b4b4b;
  border-radius: 2px;
  position: relative;
}

.progress-bar-fill {
  width: 50px;
  height: 5px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-center-top {
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

.fa-step-forward, .fa-step-backward {
  font-size: 1em;
}

.fa-step-forward:hover, 
.fa-step-backward:hover {
  color: white;
}

.fa-rotate-left,
.fa-rotate-right {
  font-size: 0.8em;
}

.fa-rotate-left:hover,
.fa-rotate-right:hover {
  color: white;
}

.play-main {
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  color: black;
  width: 40px;
  height: 40px;
  transition: all ease-in-out 0.1s;
}

.play-main i {
  margin-left: 2px;
}

.play-main:hover {
  scale: 1.05;
  
}

.volume-bar {
  width: 100px;
  height: 5px;
  background-color: #4b4b4b;
  border-radius: 2px;
  position: relative;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 0.8em;
  width: 220px;
}

.volume-bar-fill {
  width: 80px;
  height: 5px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.fa-list {
  color: #1fdf64;
}

.fa-volume-high:hover, 
.fa-up-right-and-down-left-from-center:hover {
  color: white;
}

.footer-container-bottom {
  margin-left: -1em;
  width: calc(100% + 2em);
  font-size: 0.6em;
  padding: 1em;
  background-color: #121212;
  text-align: center;
  text-decoration: none;
}

.footer-container-bottom a {
  color: #ffffffb3;
}

/* ARTIST AND ALBUM VIEWS */
.artist-container {
  display: flex;
  gap: 1em;
}

#artist-page h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

#album-page h2 {
  font-size: 1.5em;
  margin-bottom: 0.8em;
}

#artist-page h3 {
  color: white;
  font-size: 0.8em;
  margin: 0 0 12px;
}

.artist-img {
  width: 200px;
}

.albums-list {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style: none;
}

.albums-list a {
  color: #b3b3b3;
  text-decoration: none;
}

.albums-list a:hover {
  color: #fff;
}

.genre {
  color: #b3b3b3;
  font-weight: 400;
}

.edit-form label {
  display: block;
  color: #b3b3b3;
  font-size: 0.8em;
  margin-bottom: 0.4em;
}

.edit-form input {
  width: 100%;
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 1em;
  border-radius: 4px;
  border: none;
  padding: 0.4em;
  padding-left: 0.8em;
}

.edit-form select {
  width: 100%;
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 1em;
  border-radius: 4px;
  border: none;
  padding: 0.4em;
  padding-left: 0.8em;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

input.guardar {
  margin-top: 0.8em;
  background-color: #1fdf64;
  color: white;
  border: none;
  border-radius: 4px;
  height: 2.5em;
  font-size: 0.8em;
  margin-bottom: 0;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
}

.guardar:hover {
  scale: 1.02;
  background-color: #1abf56;
}

#album-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.album-container img {
  margin-bottom: 0.5em;
  width: 350px;
}

.info-album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-album a {
  font-size: 1.2em;
  margin-right: 0.3em;
  color: #b3b3b3;
  transition: all ease-in-out 0.3s;
  font-size: 1em;
  color: #b3b3b3;
  text-decoration: none;
}

.info-album a:hover {
  color: #fff;
}

.album-year {
  color: #fff;
}

.album-year {
  margin-top: 4px;
  font-size: 0.8em;
}

@media only screen and (max-width: 1020px) {
  main {
      grid-template-columns: 1fr;
  }
  
  nav {
      height: auto;
  }

  .nav-list {
      flex-direction: row;
      justify-content: space-between;
  }

  .nav-list-item > i {
      display: none;
  }

  .footer-left,
  .footer-right {
      width: auto;
  }

  .footer-left > div,
  .fa-list,
  .volume-bar,
  .fa-up-right-and-down-left-from-center {
      display: none;
  }

  .fa-list::before,
  .fa-up-right-and-down-left-from-center::before {
    display: none;
  }

  .progress-bar {
      width: 150px;
  }

  footer {
      padding: 0 0.2em;
  }

  .footer-container-up img {
      margin-right: 0;
  }

  body {
      overflow: scroll;
      padding-bottom: 170px;
  }

  section {
      height: auto;
  }

  .shadow {
      display: none;
  }

  .footer-container-up {
      padding: 0.8em 0;
  }

  .footer-container-bottom p {
      display: flex;
      flex-direction: column;
  }

  .nav-list-item p {
      font-size: 0.8em;
  }

  .nav-list-item a {
      font-size: 0.8em;
  }

  .artist-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .artist-img-container {
    display: flex;
    justify-content: center;
  }
}